[submodule "third_party/libcurl-android"]
	path = third_party/libcurl-android
	url = https://github.com/BugSplat-Git/libcurl-android.git
[submodule "third_party/crashpad"]
	path = third_party/crashpad
	url = https://github.com/chromium/crashpad.git
